<h1>Day Planner</h1>

<ul>
    {{#each plans}}
    <li>
        <p>
            {{this.id}}. {{this.plan}}
            <button type="button">Delete Plan!</button>
        </p>

    </li>

    {{/each}}
</ul>

{{!-- <h1>Create a plan</h1>
<form>
    <textarea value=""></textarea>
    <button type="submit">Save Plan</button>
</form>

<h1>Update a plan</h1>
<select name="">
    <option>{{plan}}</option>
</select> --}}